body, html {
    height: 100dvh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Fantasque Sans Mono', sans-serif;
    color: #f0f0f0;
    background-color: #0f0f0f;
}

@media (prefers-color-scheme: light) {
    body, html {
      background-color: #f0f0f0;
      color: #0f0f0f;
    }
}

.centered {
    font-family: "Mr Dafoe", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.centered p {
    display: block;
    position: absolute;
    bottom: 51%;
    margin: 0;
}

.main {
    font-size: 1rem;
    font-family: 'Fantasque Sans Mono', sans-serif;
}

footer {
    text-align: center;
    padding: 20px;
    text-decoration: none; 
}

a {
    color: #f0f0f0;
}

@media (prefers-color-scheme: light) {
    a {
	   color: #0f0f0f;
    }
    .pi-circle {
        stroke: #000;
    }
}

.emoji {
    position: absolute;
    user-select: none;
    pointer-events: none;
    opacity: 1;
    transition: opacity 2s ease;
}
